/* Centered box
------------------------------------------------------------ */
.centered-box {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}


/* Select
------------------------------------------------------------ */
.select {
    height: 40px;
    border-radius: 10px;
    background-color: #EEEBEB;
}


/* Red button
------------------------------------------------------------ */
.red-button {
    height: 40px;
    border-radius: 10px;
    border-color: #f44336;
    background-color: #EEEBEB;
}

.red-button:hover {
    color: white;
    background-color: #f44336;
}


/* Premade answers
------------------------------------------------------------ */
.premade-answers-box { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Custom answer box
------------------------------------------------------------ */
.custom-answer-box {
    border-radius: 10px;
    background-color: #DBF7E8;
}



/* Green buttons
------------------------------------------------------------ */
.green-button {
    height: 40px;
    border-radius: 10px;
    border-color: #04AA6D;
    background-color: #EEEBEB;
}

.green-button:hover {
    color: white;
    background-color: #04AA6D;
}

.spaced-green-button {
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
    border-color: #04AA6D;
    background-color: #EEEBEB;
}

.spaced-green-button:hover {
    color: white;
    background-color: #04AA6D;
}